/* Basic styles */
body {
  margin: 0;
  padding: 0;
  color: #333;
  font: 1.25em  / 1 -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  /* Dark gray text */
}

.page {
  width: 95%;
  margin: 0 auto;
  background: #FAFBFC;
}

.container {
  
  margin: 0 auto;

}

button {
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  border-radius: 15px;
  font-weight: bold;
  color: white;
  padding: 1em;
  font-size: 100%;
}
button:hover {
  background: linear-gradient(180deg, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

a, a:link {
  color: #00d4ff;
}

/* Header styles */
header {
  padding: 1em;
  background-color: #07081C;
  /* Light gray background */
  display: flex;
  flex-direction: column;
  justify-content: center;;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

header h1 {
  font-size: 2em;
  margin-bottom: 0;
  font-weight: bold;
  color: #00d4ff;
  /* Blue */
}

header h2 {
  color: #FAFBFC;
}

/* Main content styles */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


main .listing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 0;
}

main .listing .listing--image {

}



/* Footer styles */
footer {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  background-color: transparent;
  /* Remove background color */
  border-top: 1px solid #ddd;
  /* Add a subtle border */
}